%body
  %header
    %input.header-input{placeholder: "Search", type: "text"}/
    %img.header-input-img{alt: "", src: "./images/loupe-search-svgrepo-com.svg"}/
    %img.header-img{alt: "", src: "./images/menu-svgrepo-com.svg"}/
  %main
    .main-dark
      .el1
        %p
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius eligendi distinctio qui dolore. Aperiam, totam?
      .el2
        %p threee more words
        %p
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, laborum?
        .forma
          %input{placeholder: "enter your name", type: "text"}/
          %input{placeholder: "enter a valid email", type: "text"}/
          %input{placeholder: "enter your message", type: "text"}/
          %button submit
  %section
    %p The new product development process
    .cards
      .card1
        %img{alt: "", src: "./images/artist-color-palette-svgrepo-com.svg"}/
        %p Lorem, ipsum.
        %p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quidem excepturi delectus deleniti praesentium commodi.
      .card2
        %img{alt: "", src: "./images/lamp-light-svgrepo-com.svg"}/
        %p Lorem, ipsum.
        %p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quidem excepturi delectus deleniti praesentium commodi.
      .card3
        %img{alt: "", src: "./images/geometry-cube-svgrepo-com.svg"}/
        %p Lorem, ipsum.
        %p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quidem excepturi delectus deleniti praesentium commodi.
      .card4
        %img{alt: "", src: "./images/education-books-book-study-learning-library-svgrepo-com.svg"}/
        %p Lorem, ipsum.
        %p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quidem excepturi delectus deleniti praesentium commodi.
      .card5
        %img{alt: "", src: "./images/html-coding-svgrepo-com.svg"}/
        %p Lorem, ipsum.
        %p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quidem excepturi delectus deleniti praesentium commodi.
      .card6
        %img{alt: "", src: "./images/rocket-svgrepo-com.svg"}/
        %p Lorem, ipsum.
        %p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quidem excepturi delectus deleniti praesentium commodi.