@tailwind base;
@tailwind components;
@tailwind utilities;


/* *{
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    
}
.logo-disabled {
    filter: invert(0.5);
}

.container {
    margin-top: 20px;
}

.row {
    margin: 2px auto;
}
.col {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    transition: all 0.25s ease-out;
}
.col:hover {
    filter: brightness(1.5);
    border: white;
    color: black;
}

.html {
    background-color: rgb(187, 41, 15);
}
.css {
    background-color: dodgerblue;
}
.js {
    background-color: gold;
}
.bootstrap {
    background-color: indigo;
}
.scss {
    background-color: blueviolet;
}
.tailwind {
    background-color: skyblue;
}
.node {
    background-color: forestgreen;
}
.react {
    background-color: mediumturquoise;
} */